.item {
    margin:  0 auto;
    background-color: #fff;
    height: 60px  ;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}
.position{
    padding-left: 60px;
    transform: translateY(5px);
}
.postedAt {
    padding-left: 60px;
    transform: translateY(-25px);
  
}
.company{
/*   position: absolute;
   left: 100px; */
  padding-left: 300px;
  transform: translateY(-35px);

}

@media (max-width: 800px){
    .company {
    /*    transform: translateY(-10px); */
    padding-left: 280px;
    }

}

.languages{
  /*  position: relative;
    left: 90%; */
    float: right;
    padding-right: 20px;
    transform: translateY(-75px);
}
.itemImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}
@media (max-width: 800px){
    .item {
        height: 120px;
    }
}
/*
@media (max-width: 600px){
    .company {

    }
    .styledFeatured {
        transform: translateY(-66px) translateX(150px); 
    }
    .styledNew {
        transform: translateY(-46px) translateX(100px); 
    }
} */