.styledFeatured {
   /* background-color: rgb(71, 70, 70);
    color: #fff; */
   transform: translateY(-92px) translateX(420px);
    background-color: black;
width: 60px;
color: #fff;
border-radius: 6px;
height: 20px;
text-align: center;
} 

@media (max-width: 800px){
    .styledFeatured{
        transform: translateY(-66px) translateX(200px); 
    }
} 
/*
@media (max-width: 600px){
    .styledFeatured {
        transform: translateY(-66px) translateX(170px); 
    }
} 
*/